:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #030712;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #030712;
    background-color: #ffffff;
  }
}

body{
  margin: 0;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
